.job-search-text-field-container h3 {
    margin-top: 20px;
}

.job-search-text-field-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    /* border: 2px solid pink; */
}

.job-search-text-field-container h3 {
    width: 1000px;
}

.extra-details-input-wrapper {
    position: relative;
}